@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

$font-size-body: 15px;
$font-weight-400: 400;
$font-weight-700: 700;

$card-width :325px;

$container-color: hsl(0, 0%, 100%);


* {
}

body {
  font-family: "Outfit", sans-serif;
  font-size: $font-size-body;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.container {
  background-color: $container-color;
  width: 325px;
  height: 550px;
  border-radius: 25px;

}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .qr-img{
     img {
      width: 295px;
      height: 290px;
      padding: 15px;
      border-radius: 25px;
     }
  }

  & .info {
    flex-direction: column;
    width: 255px;
    & .main {
      font-weight: $font-weight-700;
      color: hsl(218, 44%, 22%);
      text-align: center;
    }
    & .hint {
      font-weight: $font-weight-400;
      color: hsl(220, 15%, 55%);
      align-self: center;
      text-align: center;
    }
  }
}

